/* レイアウト */
.sidemenu {
  position: fixed;
}

.sidemenu li a {
  display: block;
}

.sidemenu li a:hover {
  padding: 0.3rem;
  background: grey;
  color: white;
}

.main {
  padding-left: 8rem;
}

a {
  text-decoration: none;
  color: unset;
}

p {
  text-indent: 1em;
}

.caption {
  padding: 0.5rem;
  /* margin-top: 1.25rem;
  margin-bottom: 1.25rem; */
  border-bottom: 1px solid #e9ecef;
  /* border-radius: 0.25rem; */
}
